# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db-shm
.vs/
*.db

packages.config
Game.vcxproj.user
Game.vcxproj.filters

Debug\

.vs/Game/v16/ipch/AutoPCH/1eb619a0c80da53d/GAME.ipch
.vs/Game/v16/Browse.VC.db
.vs/Game/v16/.suo
